body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.text-center {
    text-align: center;
}

.display-4 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

form {
    margin-top: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"], input[type="datetime-local"] {
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1rem;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    display: block;
    margin: 0 auto;
}

    button[type="submit"]:hover {
        background-color: #0069d9;
    }
