/* Global styles */
body {
    font-family: Arial, sans-serif;
}

.container {
    margin: 20px;
}

/* Heading styles */
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Review styles */
.review {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

    .review strong {
        font-weight: bold;
    }

    .review p {
        margin: 0;
    }

    /* Created At styles */
    .review .created-at {
        color: #777;
        font-style: italic;
    }
