@model TravelPlanner.Models.BookingsActivities

@{
    ViewBag.Title = "ConfirmationActivity";
}


<h2 style="color: #333; font-size: 24px; margin-bottom: 10px;">Confirmation Activity</h2>

<p style="color: #666; font-size: 16px; margin-bottom: 10px;">Check-in Date: <span style="font-size: 14px; color: #4CAF50;">@Model.StartHour</span></p>
<p style="color: #666; font-size: 16px; margin-bottom: 10px;">Check-out Date: <span style="font-size: 14px; color: #4CAF50;">@Model.StopHour</span></p>

