<!DOCTYPE html>
<html>
<head>
    <base href="@Url.Action("Start", "Home")" />
    <title>TravelPlanner - Home</title>
    <link rel="stylesheet" type="text/css" href="~/HomePage.css">
</head>
<body>
    <header class="header">
        <h1>Welcome to TravelPlanner</h1>
        <div class="buttons">
            <button class="btn" onclick="window.location='@Url.Action("SignIn", "User")'">Log In</button>
            <button class="btn" onclick="window.location='@Url.Action("SignedUp", "User")'">Sign Up</button>
        </div>
    </header>
    <div class="Message">
        <img src="~/bus.png" alt="Travel Photo" style="float: left">
        <h2>Discover Your Next Adventure</h2>
        <p>At TravelPlanner, we're passionate about helping you plan the perfect trip. Whether you're looking for a relaxing beach getaway or an exciting city adventure, our travel experts are here to help.</p>
        <a href="~/Views/DestinationsView.cshtml" class="btn">Explore Destinations</a>
    </div>
</body>
</html>

